body{
    background-color: lightcyan;
}
h1{position: absolute;
    top: -2px;
    left: 110px;
    font-family: 'lato',sans-serif;
    color: limegreen;
    font-size: 60px;
}
h2{position: absolute;
    font-size: x-large;
    top: 10px;
    left: 900px;
    font-family: 'lato',sans-serif;
    color: black;}
h3{position: absolute;
    font-size: x-large;
    top: 8px;
    left: 998px;
   word-spacing: 30px;
    font-family: 'lato',sans-serif;
   color: grey;}
h4{position: absolute;
    font-size: x-large;
    top: 6px;
    left: 1620px;
    font-family: 'lato',sans-serif;
    color: grey;
}

.square {position: absolute;
    top: 30px;
    left: 1720px;
    width: 100px;
    height: 50px;
    font-family: 'lato',sans-serif;
    color: white;
    background-color: limegreen;
    border-radius: 15px;
    color: white;
    font-size: 30px;
}

p{
    position: absolute;
    top:130px;
    left: 200px;
    font-size: 95px;
    font-family: 'lato',sans-serif;
}
p1{position: absolute;
    top:680px;
    left: 200px;
    font-size: 30px;
    font-family: 'lato',sans-serif;
}
p2{position: absolute;
    top: 855px;
    left: 590px;
    font-size: 30px;
    font-family: 'lato',sans-serif;
}
img {
    position: absolute;
    width: 410px;
    height: 526px;
    left: 1100px;
    top: 310px;
    background: #52BD94;
    border-radius: 10px;
}
.square1 {
    position: absolute;
    top: 835px;
    left: 200px;
    width: 180px;
    height: 70px;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: x-large;
    background-color: limegreen;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    font-family: 'lato',sans-serif;
    color: white;
    font-size: 30px;
}
.circle{position: absolute;
     top: 835px;
     left: 490px;
     width: 70px;
     height: 70px;
     text-align: center;
     background-color: black;
     border-radius: 100%;
     stroke: blue;
     stroke-width:5px ;
 }
.triangle {
    position: absolute;
    top: 850px;
    left: 510px;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 40px solid red;
    border-bottom: 20px solid transparent;
    text-align: center;
    stroke: blue;
}
p3{ position: relative;
    top: 1000px;
    display: flex;
    justify-content: center;
    font-size: 60px;
    font-family: 'lato',sans-serif;
}
div1{
    background-color: darkgray;
    display: inline-block;
}