body{
    font-family: 'lato',sans-serif;
}
.item1 { grid-area: header; }
.item2 { grid-area: b1l; }
.item3 { grid-area: b1r; }
.item4 { grid-area: b2; }
.item5 { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'bil b1l b1l b1r b1r b1r'
    'menu footer footer footer footer footer';
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}
.fst{
    background-color: lightcyan;
}
.au{
    display: flex;
    width: 100%;
    align-items: baseline;
}
.navbar{
    justify-content: center;
    word-spacing: 60px;
}
.goin{
    left: 90%;
    align-items: baseline;
}
.name{
    color: limegreen;
    font-size: 60px;
}
.square {
    width: 100px;
    height: 50px;
    color: white;
    background-color: limegreen;
    border-radius: 15px;
    font-size: 30px;
}
.lwow{
    display: flex;
    width: 50%;
    color: black;
}
.we{
    display: flex;
    font-size: 60px;
    justify-content: flex-start;
}
.we{
    position: absolute;
    top:130px;
    left: 200px;
    font-size: 95px;
}

.mak{
    font-size: 30px;
}
.vd{
    font-size: 30px;
}
img {
    position: absolute;
    width: 410px;
    height: 526px;
    left: 1100px;
    top: 310px;
    background: #52BD94;
    border-radius: 10px;
}
.square1 {
    position: absolute;
    top: 835px;
    left: 200px;
    width: 180px;
    height: 70px;
    text-anchor: middle;
    dominant-baseline: central;
    font-size: x-large;
    background-color: limegreen;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    color: white;
    font-size: 30px;
}
.circle{position: absolute;
     top: 835px;
     left: 490px;
     width: 70px;
     height: 70px;
     text-align: center;
     background-color: black;
     border-radius: 100%;
     stroke: blue;
     stroke-width:5px ;
 }
.triangle {
    position: absolute;
    top: 850px;
    left: 510px;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 40px solid red;
    border-bottom: 20px solid transparent;
    text-align: center;
    stroke: blue;
}
p3{ position: relative;
    top: 1000px;
    display: flex;
    justify-content: center;
    font-size: 60px;
}
div1{
    background-color: darkgray;
    display: inline-block;
}
.snd{
    background-color: darkgray;
    display: block;
}